<nav>
  <% if (!userId) { %>
  <!-- Jika user belum login -->
  <button onclick="location.href='/home'">Home</button>
  <button onclick="location.href='/dashBoard/courses'">Courses List</button>
  <% } %> <% if (userId) { %>
  <!-- Jika user sudah login -->
  <button onclick="location.href='/dashBoard/<%= userId %>'">Dashboard</button>
  <button onclick="location.href='/dashBoard/courses'">Courses List</button>
  <button onclick="location.href='/logout'">Logout</button>

  <% if (role === 'teacher') { %>
  <!-- Jika user adalah teacher -->
  <button onclick="location.href='/dashBoard/<%= userId %>/course/add'">
    Add Course
  </button>
  <% } %> <% } else { %>
  <!-- Jika user belum login -->
  <button onclick="location.href='/register'">Register</button>
  <% } %>
</nav>
