<div class="navbar bg-base-100">
  <div class="navbar-start">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost btn-circle">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h16M4 18h7"
          />
        </svg>
      </div>
      <ul
        tabindex="0"
        class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow"
      >
        <li><a href="/dashBoard/<%= userId %>/course/all">Courses</a></li>
        <li><a href="/dashBoard/<%= userId %>/course">My Courses</a></li>
        <li><a href="/dashBoard/<%= userId %>/course/add">Add Course</a></li>
      </ul>
    </div>
  </div>
  <div class="navbar-center">
    <a class="btn btn-ghost text-xl">EduPay-Iya</a>
  </div>
  <div class="navbar-end">
    <div class="dropdown dropdown-end">
      <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
        <div class="flex justify-center items-center">
          <!-- <svg height="30px" width="30px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 508.609 508.609" xml:space="preserve">
                            <path style="fill:#9D90C5;" d="M434.691,508.609H73.918V349.923c0-21.701,16.275-41.028,39.332-46.453l141.054-33.568
                            l141.054,33.568c23.057,5.425,39.332,24.413,39.332,46.453V508.609z" />
                            <path style="fill:#C19D7B;" d="M254.305,0c-58.321,0-105.791,47.47-105.791,105.791v201.07c0,20.683,10.85,38.993,27.126,49.166
                            v29.16c0,16.954,13.902,30.856,30.856,30.856v-51.2l0,0V224.805h95.619v140.037v51.2c16.954,0,30.856-13.902,30.856-30.856v-29.16
                            c16.276-10.172,27.126-28.482,27.126-49.166v-201.07C360.095,47.47,312.625,0,254.305,0z" />
                            <g>
                                <path style="fill:#FACCB4;" d="M302.114,299.401c0,63.746-95.619,63.746-95.619,0c0-33.568,0-67.136,0-100.705
                                c31.873,0,63.746,0,95.619,0C302.114,231.926,302.114,265.494,302.114,299.401z" />
                                <path style="fill:#FACCB4;" d="M224.127,76.63c0,0-11.189,41.028-38.993,49.505v68.832c0,38.315,31.195,69.51,69.51,69.51
                                c37.976,0,69.171-31.195,69.171-69.51v-60.694C323.815,134.273,264.138,141.393,224.127,76.63z" />
                            </g>
                        </svg> -->
          <svg
            height="30px"
            width="30px"
            version="1.1"
            id="Layer_1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 0 508.698 508.698"
            xml:space="preserve"
          >
            <path
              style="fill: #608287"
              d="M488.648,508.698v-91.55c0-28.482-21.023-53.234-50.861-60.016l-183.438-43.401L70.91,357.132
                        	c-29.838,7.121-50.861,31.873-50.861,60.016v91.55H488.648z"
            />
            <path
              style="fill: #eeb490"
              d="M352.002,336.788L352.002,336.788c0,0-37.298-12.546-37.298-28.821c0-16.276,0-27.126,0-27.126
                        	h-60.355h-60.355c0,0,0,10.85,0,27.126c0,16.275-37.298,28.821-37.298,28.821s0,0,0,0.339c0,34.585,43.74,62.389,97.653,62.389
                        	C308.261,399.177,352.002,371.373,352.002,336.788L352.002,336.788z"
            />
            <g>
              <path
                style="fill: #56545f"
                d="M161.443,91.977c0,0-38.315,26.787,9.833,92.228l55.269-96.975L161.443,91.977z"
              />
              <path
                style="fill: #56545f"
                d="M176.023,109.27c0,0-24.413-12.207-17.293-51.878c7.46-39.672,81.377-89.176,156.991-30.177
                        		s21.362,133.595,21.362,133.595L176.023,109.27z"
              />
            </g>
            <g>
              <circle
                style="fill: #eeb490"
                cx="338.778"
                cy="179.797"
                r="27.465"
              />
              <circle
                style="fill: #eeb490"
                cx="169.92"
                cy="179.797"
                r="27.465"
              />
            </g>
            <path
              style="fill: #faccb4"
              d="M292.664,100.115h-76.63c-24.752,0-44.758,20.005-44.758,44.758v84.429
                        	c0,46.453,37.976,85.785,84.429,84.768c45.097-1.017,81.377-37.637,81.377-83.073v-86.124
                        	C337.422,120.12,317.416,100.115,292.664,100.115z"
            />
          </svg>
        </div>
      </div>
      <ul
        tabindex="0"
        class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow"
      >
        <li>
          <a class="justify-between" href="/dashBoard/<%= userId %>"> Profile </a>
        </li>
        <li><a href="/logout">Logout</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="divider mt-[-8px]"></div>
